/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Abr 10, 2016, 4:17:40 PM
        Author     : ioliveira
*/

* {margin:0;padding:0; font-family: arial,sans-serif;}

html, body {background-color: #e7e7e7;height:100%; font-size: 12px;}

.ui-widget .ui-widget {font-size: 12px;}

.logo_top {float: left;position: absolute;height: 70px;top:-10px;left:5px;}

body {height: 96%;}
a, .ui-widget-content a {text-decoration: none;}

.ui-toolbar-group-left {padding-left: 10px;padding-top:4px;}
.ui-toolbar-group-right {padding-left: 10px;padding-top:4px;}

.ui-fieldset .ui-fieldset-legend{
    color: black !important;
}

.ui-column-title{
    color: black !important;
}

.text-bold {font-weight: bold;}

/* Define a imagem de fundo do titulo das paginas*/
.page-title {
    background: linear-gradient(#747474, #4B4B4B); 
    padding:4px; 
    padding-left: 20px; 
    color: #fff; 
    font-weight: bold; 
    margin-bottom: 5px; 
    font-size: 16px; -webkit-transition: text-shadow 0.5s ease;transition: text-shadow 0.5s ease;	
}

/* um espaçamento entre os componentes*/
.space {padding:5px;}

/* Deixa a borda dos componentes listados arredondadas*/
.ui-panel, .ui-panel-titlebar, .page-title {-moz-border-radius: 0px;-webkit-border-radius: 5px !important;border-radius: 5px !important;}

.panel-export{display: table;padding:0px;border:0px solid;}

/* Icones personalizados*/
.icon-red {background-image: url("#{resource['images/ui-icons_cc0000_256x240.png']}") !important; }
.ui-icon-logout { background-position: 0 -177px;}

.icon-menu {background-image: url("#{resource['images/menu_icons.png']}") !important; }
.ui-icon-menu { background-position: -143px -1px;}

.effect-transition {-webkit-transition: all .2s linear;-moz-transition: all .2s linear;-o-transition: all .2s linear;transition: all .2s linear;}

.ui-notificationbar {margin-top: 50px;}

.not-authorized{background-color: #fffAF0; border: 1px solid darksalmon; color:#000; padding:5px;}

.ui-panel-titlebar {background: #3baae3;color: #ffffff;border: #000;}

@media screen and (max-width: 920px) {
    .ui-clock{																											
        display: none;
    }    
}